* {
  margin: 0;
  padding: 0;
}

body {
  font-family: monospace;
  padding: 10%;
  background: black;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

h1, a {
  font-size: 40px;
  color: white;
  text-decoration: none;
}

p {
  font-size: 20px;
  color: #DFDFDF;
}

.badges {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

form {
  gap: 5px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

form input {
  background: none;
  font-size: 20px;
  outline: none;
  border: solid 1px #DFDFDF;
  border-radius: 5px;
  color: white;
  padding: 10px;
}

form button {
  border-radius: 5px;
  border: none;
  background: none;
  padding: 10px;
  font-size: 20px;
  outline: none;
  border: solid 1px #DFDFDF;
  cursor: pointer;
  color: white;
}
