* {
  margin: 0;
  padding: 0;
}

@keyframes rainbow {
  100%,
  0% {
    color: rgb(255, 0, 0);
  }
  8% {
    color: rgb(255, 127, 0);
  }
  16% {
    color: rgb(255, 255, 0);
  }
  25% {
    color: rgb(127, 255, 0);
  }
  33% {
    color: rgb(0, 255, 0);
  }
  41% {
    color: rgb(0, 255, 127);
  }
  50% {
    color: rgb(0, 255, 255);
  }
  58% {
    color: rgb(0, 127, 255);
  }
  66% {
    color: rgb(0, 0, 255);
  }
  75% {
    color: rgb(127, 0, 255);
  }
  83% {
    color: rgb(255, 0, 255);
  }
  91% {
    color: rgb(255, 0, 127);
  }
}

body {
  font-family: monospace;
  padding: 10%;
  background: black;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

main h1, a {
  animation-name: rainbow;
  animation-iteration-count: infinite;
  animation-duration: 10s;

  font-size: 40px;
  color: white;
  text-decoration: none;
  margin-bottom: 2px;
}

main p {
  font-size: 20px;
  color: #DFDFDF;
  text-shadow: 0px 10px 20px rgba(90, 90, 90, 0.8);
  margin-bottom: 12px;
}

form input {
  width: 400px;
  background: black;
  font-size: 20px;
  outline: none;
  border: solid 1.5px #505050;
  border-radius: 5px;
  color: #DFDFDF;
  padding: 10px;
}

form input::placeholder {
  color: white;
}

form input:not(:placeholder-shown){
  transition: .4s;
  box-shadow: rgba(20, 20, 20, 0.19) 0px 10px 20px, rgba(30, 30, 30, 0.23) 0px 6px 6px;;
}
